body {
  font-family: "Roboto", "Raleway", sans-serif;
  line-height: 24px;
}
/* logo */
.nav {
  background-color: #fff;
  width: 1440px;
  height: 72px;
}
.logo {
}
.logo-word {
  color: #4d5ae5;
  font-family: "Releway", sans-serif;
  width: 44px;
  height: 21px;
}
.logo-link {
  /* Menu Nav */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: absolute;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;

  /* Studio */

  width: 48px;
  height: 24px;

  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Portfolio */

  width: 66px;
  height: 24px;

  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* Contacts */

  width: 67px;
  height: 24px;

  /* Body Medium */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.02em;

  /* NAVY BLUE */
  color: #2e2f42;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
/* section 1 */
.title-hero {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02px;
}
.section-hero {
  background-color: #2e2f42;
}
.button {
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  width: 169px;
  height: 56px;
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}
